/* Coolors Exported Palette - coolors.co/297373-f15025-ffffff-c0bebe-0d1f2d */

/* HSL */
$color1: hsla(180%, 47%, 31%, 1);
$color2: hsla(13%, 88%, 55%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 2%, 75%, 1);
$color5: hsla(206%, 55%, 11%, 1);

/* RGB */
$color1: rgba(41, 115, 115, 1);
$color2: rgba(241, 80, 37, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(192, 190, 190, 1);
$color5: rgba(13, 31, 45, 1);